<ion-header-bar align-title="center" class="bar-stable">
   <h1 class="title">HealthNode</h1>
  </ion-header-bar>

<ion-view title="fgtpassword">
  <ion-content class="has-header">

    <div class="list"> 
      <form name="auth_user" >
        <div class="padding">
          <div class="list-list-inset">
             <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="user.username" required>
            </label>
            <label class="item item-input">
              <input type="email" placeholder="Email" ng-model="user.email" required>
            </label>
          </div>
            <div class="text-align-center" align="center">
             <button class="button button-small button-positive" type="submit" ng-click="retrieve(user)" > Send email to retrieve Password </button>
            </div>
        </div>      
      </form>
      </div>
   </ion-content>
  </ion-view>