<ion-view title="Profile">
<ion-content class="has-header padding">
<form>
<div class="padding">
<div class="list">
  <div class="list-list-inset">
     <label class="item item-input">
            <input type="text" placeholder="Name" ng-model="firstname"/>
       </label> 

    <label class="item item-input">
            <input type="number" placeholder="Age" ng-model="user.age" > 
         </label>

    <div class="item item-divider">Gender</div>
            <ion-checkbox ng-repeat="item in genders" ng-model="item.checked" ng-change="selectGender(item.gender)"> {{ item.gender }}
              </ion-checkbox>

    <div class="item item-divider">Blood Group </div>
        <ion-checkbox ng-repeat="item in bloodGrpsList" ng-model="item.checked" ng-change="selectBloodGrp(item.bloodGrp)">{{ item.bloodGrp }}
          </ion-checkbox>
  
    </div>
    </div>
    </div>
    </form>
    </ion-content>
</ion-view>
